{% extends 'gigs/base.html' %}

{% load static %}

{% block title_block %}
Login
{% endblock %}

{% block header_detailed %}
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<div class="text-center m-4">
  <h2>{{ band.name }}</h2>
</div>

<hr class="mx-5" />
<div class="row justify-content-center">
  <div class="col-4">
    <form method="POST" action="">
      {% csrf_token %}

      <!-- {% if form.errors %} -->
      <!--   <p>Username or password was incorrect. Please try again.</p> -->
      <!-- {% endif %} -->

      <!-- {% if next %} -->
      <!--   <input type="hidden" name="next" value="{{ next }}"> -->
      <!-- {% endif %} -->

      <div class="mb-3">
        <div class="star-rating animated-stars">
            <input type="radio" id="star5" name="rating" value="5">
            <label for="star5" class="bi bi-star-fill"></label>
            <input type="radio" id="star4" name="rating" value="4">
            <label for="star4" class="bi bi-star-fill"></label>
            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3" class="bi bi-star-fill"></label>
            <input type="radio" id="star2" name="rating" value="2">
            <label for="star2" class="bi bi-star-fill"></label>
            <input type="radio" id="star1" name="rating" value="1">
            <label for="star1" class="bi bi-star-fill"></label>
        </div>
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">Review Title</label>
        <input type="text" class="form-control" id="title" name="title" required />
      </div>

      <div class="mb-3">
        <label for="feedback" class="form-label">Feedback</label>
        <textarea type="text" class="form-control" id="feedback" name="feedback" required /></textarea>
      </div>

      <button type="submit" class="btn btn-primary nice-button primary-color">
        Submit Review
      </button>
    </form>
  </div>
</div>
{% endblock %}
