{% extends 'gigs/base.html' %}
{% load static %}

{% block title_block %}
{{ gig.title }}
{% endblock %}

{% block header_block %}
{% endblock %} {% block body_block %}
<div id="gig-detail-status"></div>

<div class="text-center m-4">
  <h2>{{ gig.title }}</h2>
  <h5>{{ gig.band_name }}</h5>
</div>

<hr class="mx-5" />

<p class="text-center">{{ gig.date }}</p>

<div class="row justify-content-center">
  <div class="col-4 text-center">
    <h5>{{ gig.band.name }}</h5>
    <p>Position: {{ gig.req_instruments }}</p>
    <p>Description: {{ gig.description }}</p>
  </div>

  <div class="col-4 text-center">
    <p>Location: {{ gig.location }}</p>
    <p>insert google maps pic here</p>
  </div>
</div>

{% if user.is_authenticated %}
<div class="row justify-content-center m-4">
  {% if profile_type == 'musician' %}
  <div class="col-auto">
    <button type="button"
            id="gig-detail-apply-btn"
            class="btn {% if has_applied %}btn-danger{% else %}btn-primary{% endif %} nice-button background-color"
            data-gig-id="{{ gig.id }}"
            data-applied="{{ has_applied|yesno:'true,false' }}">
      {% if has_applied %}Withdraw{% else %}Apply{% endif %}
    </button>
  </div>

  <div class="col-auto">
    <button type="button"
            id="gig-detail-bookmark-btn"
            class="btn btn-primary nice-button background-color"
            data-gig-id="{{ gig.id }}"
            data-bookmarked="{{ is_bookmarked|yesno:'true,false' }}">
      {% if is_bookmarked %}Bookmarked{% else %}Bookmark{% endif %}
    </button>

  </div>
  <div class="col-auto">
    {% if has_applied %}
      <a href="{% url 'gigs:submit_review' gig.id %}" class="btn btn-primary nice-button background-color">
      Leave a Review
      </a>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endif %}

{% endblock %}
{% block scripts_block %}
    <script src="{% static 'find_my_gig/js/gigs.js' %}"></script>
{% endblock %}