{% extends 'gigs/base.html' %}

{% load static %}

{% block title_block %}
Gigs
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
<div class="text-center m-4">
  <h2>Gigs</h2>
</div>

<hr class="mx-5">

<div class="row justify-content-end">
  <div class="col-auto m-3 mx-5">
        <select class="form-select" id="filter" name="filter">
            <option value="">Filter by</option>
            <option value="date">Date</option>
            <option value="location">Location</option>
            <option value="instrument">Instrument</option>
        </select>
    </div>
</div>

<div class="row justify-content-center">
  <div class="col mx-5">
    <div class="listings-container">
      <!-- add for loop here -->
        <div class="listing-card m-2">
            <div class="row">
              <div class="col">
                <a href="" class="site-title">
                  <h4>{{ gig.title }}</h4>
                </a>
                    <p>Posted by: {{ gig.author }}</p>
                    <p>Position: {{ gig.position }}</p>
                    <p>Date: {{ gig.date }}</p>
                </div>

                <div class="col">
                  <p>Description: {{ gig.description }}</p>
                  <p>Location: {{ gig.location }}</p>
                </div>

                <div class="col-3">
                  <div class="d-flex flex-column justify-content-center h-100">
                    <!-- Google Maps API placeholder -->
                    <div class="map-placeholder">
                        Map coming soon
                    </div>
                  </div>
                </div>

                <div class="col-3 d-flex flex-column align-items-center text-center justify-content-center">
                    <button href="" class="btn btn-primary nice-button background-color w-100 my-2">
                        <p class="m-3 mx-5">Apply</p>
                    </button>

                    <button href="" class="btn btn-primary nice-button background-color w-100 my-2">
                        <p class="m-3 mx-5">Review</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
