{% extends 'gigs/base.html' %}

{% load static %}

{% block title_block %}
Musicians
{% endblock %}

{% block header_block %}
{% endblock %}

{% block body_block %}
<div class="text-center m-4">
  <h2>Musicians</h2>
</div>

<hr class="mx-5" />

<div class="row justify-content-end">
  <div class="col-auto m-3 mx-5">
    <select class="form-select" id="filter-instrument" name="filter">
      <option value="">Filter by Instrument</option>
      <option value="Guitar" {% if selected_instrument == 'Guitar' %}selected{% endif %}>Guitar</option>
      <option value="Drums" {% if selected_instrument == 'Drums' %}selected{% endif %}>Drums</option>
      <option value="Vocals" {% if selected_instrument == 'Vocals' %}selected{% endif %}>Vocals</option>
      <option value="Bass" {% if selected_instrument == 'Bass' %}selected{% endif %}>Bass</option>
      <option value="Other" {% if selected_instrument == 'Other' %}selected{% endif %}>Other</option>
    </select>
  </div>
  <div class="col-auto m-3">
    <button type="button" id="filter-btn" class="btn btn-primary nice-button primary-color">Filter</button>
  </div>
  <div class="col-auto m-3">
    <a href="/musicians/" class="btn btn-primary nice-button primary-color">Clear</a>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-5 mx-5">
    <div class="listings-container">

      {% for musician in musicians %}
      <div class="listing-card m-2">
        <div class="row">
            <div class="col-auto">
                <img src="{% static 'find_my_gig/images/pfp-placeholder.png' %}" class="profile-pic"/>
            </div>

          <div class="col">
            <a href="{% url 'gigs:musician_profile' musician.id %}" class="subtle-link">
              <h4>Name: {{ musician.user }}</h4>
            </a>
            <p>Instruments: {{ musician.instruments }}</p>
            <p>Age: {{ musician.age }}</p>
          </div>

          <div
            class="col-3 d-flex flex-column align-items-center text-center justify-content-center"
          >

            <a href="{% url 'gigs:submit_musician_review' musician.id %}"
              class="btn btn-primary nice-button background-color w-100 h-30vh my-2 d-flex align-items-center justify-content-center py-3">
              Review
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
