{% extends 'gigs/base.html' %}

{% load static %}

{% block title_block %}
My Profile
{% endblock %}

{% block header_block %}
{% endblock %} {% block body_block %}
<div class="text-center m-4">
  <h2>My Profile</h2>
</div>

<hr class="mx-5" />

<div class="row justify-content-center">
  <div class="col-8">
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row justify-content-center m-4">
        <div class="col text-center">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="profile-username" name="username" value="backend add here" required />
        </div>

        <div class="col text-center">
          <label for="firstname" class="form-label">Firstname</label>
          <input type="text" class="form-control" id="firstname" name="firstname" value="backend add here" required />
        </div>

        <div class="col text-center">
          <label for="surname" class="form-label">Surname</label>
          <input type="text" class="form-control" id="surname" name="surname" value="backend add" required />
        </div>

        <div class="col text-center">
          <label for="age" class="form-label">Age</label>
          <input type="text" class="form-control" id="profile-age" name="age" value="backend add" required />
        </div>
      </div>

      <div class="row justify-content-center m-4">
        <div class="col text-center">
          <!--backend people do magic here pls-->
          <label for="profile-pic-upload" class="profile-pic-label">
            <img id="profile-picture-preview"
              src="{% static 'find_my_gig/images/pfp-placeholder.png' %}"
              class="profile-pic"
            />
          </label>
          <input
            type="file"
            id="profile-picture-input"
            accept="image/*"
            style="display: none"
          />

          <p>Click to update</p>
        </div>

        <div class="row justify-content-center m-4">
          <div class="col">
            <div class="mb-3">
              <label for="about" class="form-label">About</label>
              <textarea class="form-control" id="profile-about" rows="5">{{ user.profile.about }}</textarea>
            </div>
          </div>

          <div class="col">
            Instruments
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="guitar"
                id="guitar"
                name="guitar"
              />
              <label class="form-check-label" for="guitar">Guitar</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="bass"
                id="bass"
                name="bass"
              />
              <label class="form-check-label" for="bass">Bass</label>
            </div>
          </div>

          <div class="col">
            <div class="mb-3">
              <label class="form-label">Media Links</label>
              <div class="row mb-2">
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    id="media-link-input"
                    placeholder="Paste link here"
                  />
                </div>
                <div class="col-auto">
                  <button
                    type="button"
                    id="add-media-btn"
                    class="btn btn-primary nice-button primary-color"
                  >
                    Add
                  </button>
                </div>
              </div>
              <div class="media-list">
                <div class="media-item">
                  <span>https://example.com</span>
                  <button
                    type="button"
                    class="btn btn-primary btn-sm nice-button primary-color"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center m-4">
          <div class="col">
            <p>Press here to update profile</p>
            <button
              class="btn btn-primary btn-lg nice-button primary-color"
              type="submit"
            >
              Update
            </button>
          </div>
          <div class="col">
            <p>Press here to delete account</p>
            <button
              type="button"
              class="btn btn-primary btn-lg nice-button primary-color"
            >
              Delete Account
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
