{% extends 'gigs/base.html' %}

{% load static %}

{% block title_block %}
My Profile
{% endblock %}

{% block header_block %}
{% endblock %} 

{% block body_block %}
<div id="status-message"></div>
<div class="text-center m-4">
  <h2>My Profile</h2>
</div>

<hr class="mx-5" />

<div class="row justify-content-center">
  <div class="col-8">
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row justify-content-center m-4">
        <div class="col text-center">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="profile-username" name="username" value="{{ user.username }}" required />
        </div>
        
        {% if profile_type == 'musician' %}
        <div class="col text-center">
          <label for="firstname" class="form-label">Firstname</label>
          <input type="text" class="form-control" id="firstname" name="firstname" value="{{ user.first_name }}" required />
        </div>

        <div class="col text-center">
          <label for="surname" class="form-label">Surname</label>
          <input type="text" class="form-control" id="surname" name="surname" value="{{ user.last_name }}" required />
        </div>

        <div class="col text-center">
          <label for="profile-age" class="form-label">Age</label>
          <input type="text" class="form-control" id="profile-age" name="age"
                 value="{{ profile.age }}" required />
        </div>
        {% endif %}
      </div>

      {% if profile_type == 'band' %}
        <div class="col text-center">
          <label for="band-name" class="form-label">Band Name</label>
          <input type="text" class="form-control" id="band-name" name="band_name" value="{{ profile.name }}" />
        </div>
      {% endif %}

      <div class="row justify-content-center m-4">
        <div class="col text-center">
          <label for="profile-pic-input" class="profile-pic-label">
            <img id="profile-picture-preview"
              src="{% if profile.profile_picture  %}{{ profile.profile_picture.url }}{% else %}{% static 'find_my_gig/images/pfp-placeholder.png' %}{% endif %}"
              class="profile-pic"
              onclick="document.getElementById('profile-picture-input').click()"
              style="cursor: pointer;"
            />
          </label>
          <input
            type="file"
            id="profile-picture-input"
            name="profile_picture"
            accept="image/*"
            style="display:none"
          />

          <p>Click to update</p>
        </div>

        <div class="row justify-content-center m-4">
          <div class="col">
            <div class="mb-3">
              <label for="about" class="form-label">About</label>
              <textarea class="form-control" name="about" id="profile-about" rows="5">{{profile.bio }}</textarea>
            </div>
          </div>

          {% if profile_type == 'musician' %}
          <div class="col">
            <label class="form-label">Instruments</label>
            <select class="form-control" id="profile-instruments" name="instruments">
              <option value="">Select instrument</option>
              <option value="Guitar" {% if profile.instruments == 'Guitar' %}selected{% endif %}>Guitar</option>
              <option value="Bass"   {% if profile.instruments == 'Bass'   %}selected{% endif %}>Bass</option>
              <option value="Drums"  {% if profile.instruments == 'Drums'  %}selected{% endif %}>Drums</option>
              <option value="Vocals" {% if profile.instruments == 'Vocals' %}selected{% endif %}>Vocals</option>
              <option value="Other"  {% if profile.instruments == 'Other'  %}selected{% endif %}>Other</option>
            </select>
          </div>
          {% endif %}

          <div class="col">
            <div class="mb-3">
              <label class="form-label">Media Links</label>
              <div class="row mb-2">
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    id="media-link-input"
                    placeholder="Paste link here"
                  />
                </div>
                <div class="col-auto">
                  <button
                    type="button"
                    id="add-media-btn"
                    class="btn btn-primary nice-button"
                  >
                    Add
                  </button>
                </div>
              </div>
              <ul id="media-links-list">
                {% for link in media_links %}
                  <li>
                    <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
                  <button 
                    type="button" 
                    data-media-id="{{ link.id }}"
                    class="delete-media-btn btn btn-sm nice-button primary-color"
                  >
                    Delete
                  </button>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="row justify-content-center m-4">
          <div class="col">
            <p>Press here to update profile</p>
            <button
              id="update-profile-btn"
              class="btn btn-primary btn-lg nice-button"
              type="button"
            >
              Update
            </button>
          </div>
          <div class="col">
            <p>Press here to delete account</p>
            <button
              id="delete-account-btn"
              type="button"
              class="btn btn-primary btn-lg nice-button"
            >
              Delete Account
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% block scripts_block %}
    <script src="{% static 'find_my_gig/js/dashboard.js' %}"></script>
{% endblock %}

{% endblock %}