{% extends 'gigs/base.html' %}
{% load static %}

{% block title_block %}
Set New Password
{% endblock %}

{% block header_detailed %}
{% endblock %}

{% block body_block %}
<div class="row justify-content-center">
  <div class="col-4 my-4">
    {% if validlink %}
      <h2>Set a new password</h2>

      <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <button
          type="submit"
          class="btn btn-primary nice-button primary-color"
        >
          Change password
        </button>
      </form>
    {% else %}
      <h2>Invalid reset link</h2>
      <p>This password reset link is invalid or has already been used.</p>
    {% endif %}
  </div>
</div>
{% endblock %}