{% extends 'gigs/base.html' %}

{% load static %}

{% block title_block %}
Musician Sign Up
{% endblock %}

{% block header_detailed %}
{% endblock %}

{% block body_block %}
<div class="row justify-content-center">
  <div class="col-4 my-4">
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}

      {{ user_form.non_field_errors }}
      {{ profile_form.non_field_errors }}

      <div class="mb-3">
        <h3>Account Details</h3>
        {{ user_form.as_p }}
      </div>

      <div class="mb-3">
        <h3>Musician Profile</h3>
        {{ profile_form.as_p }}
      </div>

      <button
        type="submit"
        class="btn btn-primary nice-button primary-color mb-5"
      >
        Sign Up as Musician
      </button>
    </form>
  </div>
</div>
{% endblock %}