# .env.example
# Copy this file, rename it to .env, and fill in the actual keys!

DJANGO_SECRET_KEY=your_local_django_secret_here
GOOGLE_MAPS_FRONTEND_KEY=paste_frontend_key_here
GOOGLE_MAPS_BACKEND_KEY=paste_backend_key_here
DEBUG=True