{% extends 'find_my_gig/base.html' %}
{% load static %}

{% block title_block %}
Dashboard
{% endblock %}

{% block header_block %}
{% endblock %} {% block body_block %}
<div class="text-center m-4">
  <h1 class="text-color">Dashboard</h1>
</div>

<hr class="mx-5" />

<div class="row justify-content-evenly m-4 g-4">
  <div class="col-3">
    <a href="" class="site-title">
      <div class="dashboard-card primary-color text-center p-4">
        <img
          src="{% static 'find_my_gig/images/create.svg' %}"
          class="dashboard-icon mb-3"
        />
        <h5>List a Gig</h5>
        <p>Post a new gig listing</p>
      </div>
    </a>
  </div>
  <div class="col-3">
    <a href="" class="site-title">
      <div class="dashboard-card primary-color text-center p-4">
        <img
          src="{% static 'find_my_gig/images/listing-icon.svg' %}"
          class="dashboard-icon mb-3"
        />
        <h5>My Listings</h5>
        <p>View and manage your listings</p>
      </div>
    </a>
  </div>
  <div class="col-3">
    <a href="" class="site-title">
      <div class="dashboard-card primary-color text-center p-4">
        <img
          src="{% static 'find_my_gig/images/applications-icon.svg' %}"
          class="dashboard-icon mb-3"
        />
        <h5>My Applications</h5>
        <p>Track your applications</p>
      </div>
    </a>
  </div>
</div>
{% endblock %}
